<div id="sidenav" [style] = "mystyle">
    <div>
        <button *ngIf="!editPlace" mat-raised-button color="primary" (click) = "addPlace()">Add Place</button>        
    </div>

    <!--<div *ngFor = "let author_id of Object.keys(places)">
        <div *ngFor = "let place of places[author_id]">
            <app-place [place] = "place"></app-place>
        </div>        
    </div>-->

    <div *ngFor = "let place of places">
        <app-place *ngIf="!editPlace" [place] = "place"></app-place>
    </div>

    <p *ngIf="editPlace">{{user}}</p>
    <app-edit-place *ngIf="editPlace"></app-edit-place>
    <div *ngIf="editPlace">
        <button mat-raised-button color="primary" (click) = "cancelEditPlace()">Save</button>
        <button mat-raised-button color="warn" (click) = "cancelEditPlace()">Cancel</button>
    </div>
    
    
</div>