/*
app-sidenav.show {
    display: flex;
}

app-sidenav.hide {
    display: none;
}
*/

app-filter {
    position: fixed;
    top: 64px;
    right: 0px;
    left: 15%;
    width: auto;
    color: black;
    z-index: 3;
}

@media all and (max-width: 1533px) {
    app-filter {
        left: 230px;
    }
}