<div id="sidenav" [style] = "mystyle">
    <div>
        <button *ngIf="!editPlace && selected_place.id" mat-icon-button (click)="cancelSelection()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="36px" height="36px">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
            </svg>
        </button>
        <button *ngIf="!editPlace" mat-raised-button color="primary" (click) = "addPlace()">Add Place</button>        
    </div>

    <ng-container *ngIf="!editPlace && !selected_place.id">
        <div *ngFor = "let place of places">
            <ng-container *ngIf="place && search(place.name)">
                <app-place [place] = "place" [user] = "user"></app-place>
            </ng-container> 
        </div>
    </ng-container>

    <ng-container *ngIf="!editPlace && selected_place.id">
            <app-place [place] = "selected_place" [user] = "user"></app-place>
    </ng-container>
    
    <ng-container *ngIf="editPlace">
        <p>{{user}}</p>
        <app-edit-place></app-edit-place>
        <div>
            <button mat-raised-button color="primary" (click) = "cancelEditPlace()">Save</button>
            <button mat-raised-button color="warn" (click) = "cancelEditPlace()">Cancel</button>
        </div>
    </ng-container>
    
    
    
</div>