<div id="sidenav" [style] = "mystyle">
    <div>
        <button *ngIf="!editPlace" mat-raised-button color="primary" (click) = "addPlace()">Add Place</button>        
    </div>

    <!--<div *ngFor = "let author_id of Object.keys(places)">
        <div *ngFor = "let place of places[author_id]">
            <app-place [place] = "place"></app-place>
        </div>        
    </div>-->

    <ng-container *ngIf="!editPlace && !selected_place.id">
        <div *ngFor = "let place of places">
            <app-place [place] = "place"></app-place>
        </div>
    </ng-container>

    <ng-container *ngIf="!editPlace && selected_place.id">
            <app-place [place] = "selected_place"></app-place>
    </ng-container>
    
    <ng-container *ngIf="editPlace">
        <p>{{user}}</p>
        <app-edit-place></app-edit-place>
        <div>
            <button mat-raised-button color="primary" (click) = "cancelEditPlace()">Save</button>
            <button mat-raised-button color="warn" (click) = "cancelEditPlace()">Cancel</button>
        </div>
    </ng-container>
    
    
    
</div>