/*
.filter {
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 3;
}
*/

/*
.pusher {
    width: 15%;
    min-width: 230px;
    z-index: 0;
}
*/

.content {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

mat-form-field {
    width: 110px;
    margin: 5px 15px;
}

.author {
    width: 200px;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}