<div id="map" (click) = "cancelSelection($event)">
    <div id = "background"></div>    
        <div *ngFor = "let place of places">
            <ng-container *ngIf="place">
                <app-point [place] = "place" [user] = "user"></app-point>
            </ng-container> 
                

                <!--<ng-container *ngIf="filterDisplay && (filtered_places.indexOf(place.id) !== -1)">
                <app-point [place] = "place" [user] = "user"></app-point>
            </ng-container>  -->          
        </div>  
</div>

