<mat-card>
    <mat-card-header>
        <mat-card-title>{{name}}</mat-card-title>
        <mat-card-subtitle>Arnold Shwarzeneger</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/pics/places/1.jpg" alt="Proin">
    <mat-card-content>
        <p>Curabitur et lectus lorem. Etiam congue scelerisque urna. In pretium, leo id porta convallis, sapien dui bibendum justo, 
            eleifend accumsan libero leo nec tortor. Proin ac bibendum ligula.</p>
    </mat-card-content>
</mat-card>