#header {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*padding-right: 30px;*/
    background-color: #3f51b5;
    color: #fff;
    font-size: 20px;
    height: 64px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

span {
    padding: 0px 15px;
    vertical-align: middle;
    text-decoration: none;
}

.content-left {
    flex: auto;
}

.desktop {
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.push {
    cursor: pointer;
}

a, button {
    margin-left: 10px;
}

.auth_buttons {
    display: block;
    margin-right: 15px;
}

.user_name {
    font-size: 14px;
    font-weight: 500;
}

.title {
    display: inline-block;
    position: relative;
    top: 2px;
    font-size: 20px;
    font-weight: normal;
}

.title_mobile {
    display: none;
}

.all_places {
    display: inline-block;
}

.mobile770max,.mobile450max {
    display: none;
}

.home_button {
    display: none;
}

@media (max-width: 770px) {
    .mobile770max {
        display: block;
    }

    .desktop {
        display: none;
    }
}

@media (max-width: 630px) {
    .home_button {
        display: inline-block;
    }
    .title {
        display: none;
    }
    .title_mobile {
        display: inline-block;
        position: relative;
        top: 2px;
        font-size: 20px;
        font-weight: normal;
    }
}

@media (max-width: 450px) {
    .mobile770max {
        display: none;
    }
    
    .mobile450max {
        display: block;
    }

    .desktop {
        display: none;
    }
}