<div id="header">    
    <div class = "content-left">
        <button mat-icon-button (click)="toggleSidenav()" *ngIf="sidenavButtonDisplay === 'show_button'">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="36px" height="36px">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
            </svg>        
        </button>
        <button mat-icon-button (click)="back()" *ngIf="sidenavButtonDisplay === 'hide_button'">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="36px" height="36px">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
            </svg>        
        </button>
        <span class = "push" (click)="home()">Your Favorite Places</span>
    </div>

    
    <div class = "content-right">
        <button mat-button routerLink="/all-places-page" routerLinkActive="active">All Places</button>       
        
        <div class="auth_buttons" *ngIf="!user">
            <button mat-stroked-button id="login" routerLink="/show-login" routerLinkActive="active">Login</button>
            <button mat-stroked-button id="signIn">Sign In</button>
        </div>
        
        <div class="auth_buttons" *ngIf="user">            
            <button mat-button routerLink="/user-places-page/{{userId}}" routerLinkActive="active">{{user}}</button>
            <button mat-stroked-button id="logOut" (click)="logout()">Log Out</button>
        </div> 
    </div>       
</div>
