#header {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 30px;
    background-color: #3f51b5;
    color: #fff;
    font-size: 20px;
    height: 64px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

span,a {
    padding: 0px 15px;
    vertical-align: middle;
}

.content-left {
    flex: auto;
}

.content-right {
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.push {
    cursor: pointer;
}

a:hover, a:visited, a:link, a:active {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

button {
    margin-left: 10px;
}

.auth_buttons {
    margin-right: 15px;
}

.user_name {
    font-size: 14px;
    font-weight: 500;
}