<div id="header">    
    <div class = "content-left">        
        <button id = "toggle_sidenav_butt" mat-icon-button (click)="toggleSidenav()" *ngIf="sidenavButtonDisplay === 'show_button'">
            <img src="/assets/svg/sidenav_butt.svg" alt="sidenav_toggle">      
        </button>
        <button mat-icon-button (click)="back()" *ngIf="sidenavButtonDisplay === 'hide_button'">
            <img src="/assets/svg/back.svg" alt="back">
        </button>

        <!--для десктопа-->
        <button class = "title" mat-button routerLink="/" routerLinkActive="active" matTooltip="Home">Your Favorite Places</button>

        <!--для мобильных устройств-->
        <button class = "title_mobile" mat-button routerLink="/" routerLinkActive="active" matTooltip="Home" *ngIf="!searchbox">Your Favorite Places</button>
        <button class = "home_button" mat-icon-button routerLink="/" routerLinkActive="active" matTooltip="Home" *ngIf="searchbox">
            <img src="/assets/svg/home.svg" alt="home">
        </button>
    </div>

    <!-- правая часть для десктопа-->
    <div class = "desktop">        
        <button mat-icon-button (click)="toggleFilter()" matTooltip="Filter">
            <img src="/assets/svg/filter.svg" alt="filter">
        </button>
        <button mat-icon-button (click)="toggleSearchBox()" matTooltip="Search">            
            <img src="/assets/svg/search.svg" alt="search">       
        </button>        
        <input type="text" *ngIf="searchbox" (keyup) = "search($event)" placeholder="Name of the place">
        
        <button class="all_places" mat-button routerLink="/all-places-page" routerLinkActive="active" matTooltip="List of places">All Places</button>
              
        <div class="auth_buttons" *ngIf="!user">
            <button mat-stroked-button id="login" routerLink="/show-login" routerLinkActive="active">Login</button>
            <button mat-stroked-button id="signIn" matTooltip="Doesn't work yet:(">Sign In</button>
        </div>
        
        <div class="auth_buttons" *ngIf="user">            
            <button mat-button routerLink="/user-places-page/{{userId}}" routerLinkActive="active" matTooltip="My places">{{user}}</button>
            <button mat-stroked-button id="logOut" (click)="logout()">Log Out</button>
        </div>     
    </div>
    
    <!--для мобильных устройств 450...770рх-->
    <div class = "mobile770max">
        <button mat-icon-button (click)="toggleFilter()" matTooltip="Filter">
            <img src="/assets/svg/filter.svg" alt="filter">
        </button>
        <button mat-icon-button (click)="toggleSearchBox()" matTooltip="Search">            
            <img src="/assets/svg/search.svg" alt="search">       
        </button>        
        <input type="text" *ngIf="searchbox" (keyup) = "search($event)" placeholder="Name of the place">
        <button mat-icon-button [matMenuTriggerFor]="menu1" aria-label="Example icon-button with a menu">
            <img src="/assets/svg/mob_menu.svg" alt="mobile_menu"> 
        </button>
        <mat-menu #menu1="matMenu">
            <button mat-button routerLink="/all-places-page" routerLinkActive="active" matTooltip="List of places">All Places</button>
            
            <ng-container *ngIf="!user">
                <button mat-stroked-button id="login" routerLink="/show-login" routerLinkActive="active">Login</button>
                <button mat-stroked-button id="signIn" matTooltip="Doesn't work yet:(">Sign In</button>
            </ng-container>
            
            <ng-container *ngIf="user">
                <button mat-button routerLink="/user-places-page/{{userId}}" routerLinkActive="active" matTooltip="My places">{{user}}</button>
                <button mat-stroked-button id="logOut" (click)="logout()">Log Out</button>
            </ng-container>                       
        </mat-menu> 
    </div>

    <!--для мобильных устройств 450 max-->
    <div class = "mobile450max">
        <input type="text" *ngIf="searchbox" (keyup) = "search($event)" placeholder="Name of the place">
        <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
            <img src="/assets/svg/mob_menu.svg" alt="mobile_menu"> 
        </button>
        <mat-menu #menu2="matMenu">
            <button mat-button (click)="toggleFilter()" matTooltip="Filter">Filter</button>
            <button mat-button (click)="toggleSearchBox()" matTooltip="Search">Search</button>
            <button mat-button routerLink="/all-places-page" routerLinkActive="active" matTooltip="List of places">All Places</button>
            
            <ng-container *ngIf="!user">
                <button mat-stroked-button id="login" routerLink="/show-login" routerLinkActive="active">Login</button>
                <button mat-stroked-button id="signIn" matTooltip="Doesn't work yet:(">Sign In</button>
            </ng-container>
            
            <ng-container *ngIf="user">
                <button mat-button routerLink="/user-places-page/{{userId}}" routerLinkActive="active" matTooltip="My places">{{user}}</button>
                <button mat-stroked-button id="logOut" (click)="logout()">Log Out</button>
            </ng-container>                       
        </mat-menu> 
    </div>
</div>
