<div id="header">    
    <div>
        <button mat-icon-button (click)="toggleSidenav()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="36px" height="36px">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
            </svg>        
        </button>
        <span routerLink="/">Your Favorite Places</span>
    </div>
    
    <div class="auth_buttons">        
        <button *ngIf="!user" mat-stroked-button id="login" role="button" routerLink="/login">Login</button>
        <button *ngIf="!user" mat-stroked-button id="signIn">Sign In</button>
        <span *ngIf="user" class="user_name">{{user}}</span>
        <button *ngIf="user" mat-stroked-button id="logOut" (click)="logout()">Log Out</button>
    </div>
    
</div>
