#container {
    position: relative;
    top: 64px;
    display: flex;
    height: 1200px;
    /*align-items: center;*/
    justify-content: center;
}

app-sidenav.show {
    display: flex;
}

app-sidenav.hide {
    display: none;
}
