.container {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    align-items: flex-start;
}

h4,h3,h2 {
    margin: 5px 0;
}

.location {
    margin: 15px 0;
}

.author {
    color: gray;
    font-weight: 400;
}

.content {
    margin: 0 15px;
}

button {
    margin: 15px 15px;
}

.back {
    margin-top: 0px;
}

mat-divider {
    width: 100%;
}

.actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0px 15px;
}

app-edit-button {
    margin-top: 15px;
    margin-bottom: 15px;
}