/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-sidenav {
    position: fixed;
    z-index: 2;
    left: 0px;
    min-width: 230px;
    width: 15%;
    top: 64px;
    bottom: 0px;
}

app-login {
    position: fixed;
    top: 80px;
    left: 0px;
    right: 0px;
    z-index: 2;
    display: block;
}

app-place-page,app-all-places-page,app-user-places-page {
    position: relative;
    top: 80px;
}

.auth-footer,.custom-checkbox {
    display: none;
}

#sign-in-widget .okta-sign-in-header.auth-header {
    padding-top: 10px;
    padding-bottom: 0px;
    border: none;
}

#okta-sign-in .auth-content {
    padding-bottom: 0px;
}

#okta-sign-in .o-form-head {
    display: none;
}

#okta-sign-in.no-beacon .auth-content {
    padding-top: 0px;
}

#okta-sign-in .beacon-container.beacon-small {
    bottom: 10px;
  }
