#sidenav {
    position: fixed;
    top: 64px;
    left: 0px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
    color: black;
    font-size: 20px;
    height: 100%;
    width: 15%;
    min-width: 200px;
    overflow: auto;
    z-index: 3;
}

div {
    display: flex;
}

button {
    margin: 15px auto;
}

#sidenav.show {
    display: block;
}

#sidenav.hide {
    display: none;
}