#sidenav {
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
    color: black;
    flex-direction: column;
    overflow: auto;
}

div {
    display: flex;
}

button {
    margin: 15px auto;
}