<p>{{user}}</p>
<form>
    <mat-form-field class="form">
        <mat-label>Place name</mat-label>
        <input name = "name" matInput [(ngModel)]="new_place.name">
    </mat-form-field>

    <mat-form-field hintLabel="min 0, max 2400">
        <mat-label>Longitude</mat-label>
        <input type = "number" matInput placeholder="200" pattern="([0-9]|[1-8][0-9]|9[0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|1[0-9]{3}|2[0-3][0-9]{2}|2400)"
        name = "longitude" [(ngModel)]="coords[0]">
        <mat-error>Out of range</mat-error>
    </mat-form-field>

    <mat-form-field class = "with_hint" hintLabel="min 0, max 1200">
        <mat-label>Latitude</mat-label>
        <input type = "number" matInput placeholder="500" pattern="([0-9]|[1-8][0-9]|9[0-9]|[1-8][0-9]{2}|9[0-8][0-9]|99[0-9]|1[01][0-9]{2}|1200)"
        name = "latitude" [(ngModel)]="coords[1]">
        <mat-error>Out of range</mat-error>
    </mat-form-field>

    <mat-form-field class = "with_hint">
        <mat-label>Select image</mat-label>
        <mat-select [(ngModel)]="new_place.img" name="img">
            <mat-option *ngFor = "let img of listOfImg" [value]="img">{{img}}</mat-option>
        </mat-select>
    </mat-form-field> 

    <mat-form-field class="form">
        <mat-label>Description</mat-label>
        <textarea matInput name = "description" [(ngModel)]="new_place.description" placeholder="It makes me feel..."></textarea>
    </mat-form-field>
</form>
<div>
    <button mat-raised-button color="primary" (click) = "savePlace()">Save</button>
    <button mat-raised-button color="warn" (click) = "cancelEdit()">Cancel</button>
</div>
